<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>選手一覧</title></head>
<body>
<h2>選手一覧</h2>

<table border="1">
<tr><th>名前</th><th>背番号</th><th>操作</th></tr>
<% data.forEach(p => { %>
<tr>
<td><a href="/players/<%= p.id %>"><%= p.name %></a></td>
<td><%= p.number %></td>
<td>
  <form action="/players/edit/<%= p.id %>" method="POST" style="display:inline;">
    <button>編集</button>
  </form>
  <form action="/players/<%= p.id %>?_method=DELETE" method="POST" style="display:inline;">
    <button>削除</button>
  </form>
</td>
</tr>
<% }) %>
</table>

<h3>選手追加</h3>
<form action="/players" method="POST">
  名前:<input name="name" required><br>
  背番号:<input name="number" required><br>
  ポジション:<input name="position"><br>
  年齢:<input name="age"><br>
  <button>登録</button>
</form>

<a href="/">戻る</a>
</body>
</html>